.block-hero {
    min-height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }
    @include min-sm {
        background-attachment: fixed;
    }
    @include sm {
        background-position: center;
        background-repeat: no-repeat;
    }
    .container {
        .block-hero-content {
            position: relative;
            .content {
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                .hero-title {
                    color: $white;
                }
            }
        }
    }
    .breadcrumbs {
        p {
            span {
                color: $white;
                font-weight: 500;
                .breadcrumb_last {
                    font-weight: 300;
                }
                a {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 1px;
                        transition: all 0.2s ease 0s;
                        background-color: $white;
                    }
                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}