/* Reviews START */
.slider__reviews {
    padding: 40px 0;
    .swiper {
        .slider-wrap {
            justify-content: flex-end;
            flex-direction: column;
            display: flex;
            text-align: center;
            align-items: center;

            .img {
                max-width: 130px;
                padding: 7px 7px 7px 7px;
                margin-bottom: 25px;
                border-style: dashed;
                border-width: 4px 6px 2px 2px;
                border-color: $primary-color;
                border-radius: 50%;
                @include transition;
                img {
                    width: 112px;
                    border-radius: 50%;
                    height: 112px;
                    object-fit: cover;
                }
                &:hover {
                    max-width: 141px;
                    padding: 0px;
                }
            } 

            h3 {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 1.1em;
                font-weight: 500;
            }

            p {
                opacity: .8;
            }
        }
    }
}

/* Reviews END */