/* Boxes with post type and swiper style Start */
.gallery__section {
   padding: 40px 0;
    @include lg {
        padding: 20px 0;
    }
   .row {
    overflow: hidden;
    border-radius: 4px;
    margin: 0;
    @include sm {
        row-gap: 20px;
    }
    &>div {
        padding: 0;
        height: 425px;
        background-color: transparent;
        @include lg {
            height: 350px;
        }
        @include xs {
            height: 240px;
        }
        .image-wrap {
            width: 100%;
            height: 100%;
            overflow: hidden; 
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
                @include transition;
                transform: scale(1.01);
            }
            .image-overlay {
                position: absolute;
                bottom: 0px;
                visibility: hidden;
                width: 100%;
                opacity: 0;
                @include transition;
                padding: 5px 20px;
                text-align: center;
                color: $white;
                font-size: 14px;
            }
            &:hover {
                img {
                    transform: scale(1.05);
                }
                .image-overlay {
                    visibility: visible;
                    opacity: 1;
                    background-color: $primary-color;
                }
            }
            &:focus, &:active {
                img {
                    transform: scale(1.05);
                }
                .image-overlay {
                    visibility: visible;
                    opacity: 1;
                    background-color: $primary-color;
                }
            }
        }
    }
   }
   &.about-us-gallery {
    padding: 40px 0 0 0;
        .container {
            overflow: hidden;
            padding-bottom: 40px;
        }
        .aboutUsSwiper {
            overflow: unset;
            .swiper-wrapper {
                .swiper-slide{
                    .image-wrap {
                        height: 170px;
                        img {
                            border-radius: 4px;
                            overflow: hidden;
                            object-fit: cover;
                            object-position: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            bottom: -30px;
            .swiper-pagination-bullet {
                width: 15px;
                height: 3px;
                border-radius: 0;
                background-color: $grey-color;
                &.swiper-pagination-bullet-active {
                    background-color: $primary-color;
                    width: 25px;
                }
            }
        }
   }
}

/* Boxes with post type and swiper style END */