.section__our-courses {
    padding: 40px 0;
    background-color: #F2F2F2;
    @include min-md {
        padding: 60px 0;
    }
    .row {
        row-gap: 40px;
    }

    .box__wrapper {
        justify-content: flex-start;
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        &-inner {
            background: $white;
            height: 100%;
            border: 4px solid $white;
            border-radius: 4px;
            @include transition;
            a {
                height: 100%;
                padding: 16px;
                display: flex;
                flex-direction: column;
                row-gap: 6px;
                 .img {
                    width: 50px;
                    height: 50px;
                    margin-left: auto;
                    margin-right: auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h3 {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    font-size: 20px;
                    line-height: 25px;
                }

               p {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 300;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

            }
            &:hover {
                border: 4px solid $primary-color;
            }
        }
    }
    .event-boxes-section {
        margin-bottom: 60px;
        @include md {
            margin-bottom: 40px;
        }
        &>.container {
            h2 {
                text-align: center;
                margin-bottom: 40px;
                @include md {
                    margin-bottom: 30px;
                }
            }
            .row {
                .event-box {
                        text-align: center;
                        row-gap: 12px;
                        display: flex;
                        flex-direction: column;
                    .box-span {
                        color: $primary-color;
                        font-weight: 900;
                        line-height: 40px;
                        font-size: 40px;
                    }
                    h3 {
                        line-height: 25px;
                        font-size: 25px;
                    }
                    p {
                        line-height: 18px;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}