.env
docker-compose.yml
Dockerfile
wp-admin/
wp-includes/
.idea/
/index.php
license.txt
readme.html
/wp-*.php
/xmlrpc.php
.DS_Store
*cache*
*.zip
.smushit-status
.gitattributes
_wpeprivate
plugins
mu-plugins
uploads/
upgrade/
ai1wm-backups/
object-cache.php
mysql.sql
mysql.sql.bak
index.php
.htaccess
.vscode/
.phpintel/
/sandr/
plugins
node_modules
node_modules/
webp-express/*
wp-rocket-config/
themes/index.php
themes/twenty*/
themes/genesis/
themes/.htaccess
updraft/
*.log
*/logs/*
*.zip
*.gz
*.sh
Dockerfile
Dockerfile*
settings/*
unused-temporary.php
local-xdebuginfo.php